<link rel="stylesheet" href="templates/styles.css" />
<div class="box-1">
  <header class="box-2">
    <div class="box-2-left">
      <div class="headerItem header-title">
        <strong> RÓTULO DE INSUMOS. </strong>
      </div>
      <div class="headerItem"><strong>Código:</strong> GCC-003.03 F1</div>
      <div class="headerItem"><strong>Emisión:</strong> 2023-11-01</div>
      <div class=""><strong>Versión:</strong> 05</div>
    </div>
    <div class="contentLogo"></div>
  </header>
  <div class="box-3">
    <div class="content-left">
      <div class="item-ref">
        <p>{{REFERENCIA}}</p>
      </div>
      <div class="item-div">
        <div class="item-div-left">LOTE PROVEEDOR:</div>
        <div class="item-div-right">{{LOTE}}</div>
      </div>
      <div class="item-div">
        <div class="item-div-left">PROVEEDOR:</div>
        <div class="item-div-right">{{LOTE}}</div>
      </div>
      <div class="item-div">
        <div class="item-div-left">C. ORIGEN:</div>
        <div class="item-div-right">{{LOTE}}</div>
      </div>
      <div class="cant-rollo">
        <div class="cant-rollo-div">CANTIDAD X ROLLO</div>
        <div class="item-div-right">N/A</div>
      </div>
      <div class="number-rollo">NUMERO DE ROLLO</div>
      <div class="number-rollo">N/A</div>
      <div class=""></div>
    </div>
    <div class="content-right">
      <div class="content-right-content">
        <div class="content-right-item">ÍTEM:</div>
        <div class="content-right-item-left">**********</div>
      </div>
      <div class="content-right-content">
        <div class="content-right-item">FACTURA:</div>
        <div class="content-right-item-left">**********</div>
      </div>
      <div class="content-right-content">
        <div class="content-right-item">CANT. TOTAL:</div>
        <div class="content-right-item-left">**********</div>
      </div>
      <div class="status">
        <div class="status-item">
          CUARENTENA
          <div class="status-item-content"></div>
        </div>
        <div class="status-item">
          APROBADO
          <div class="status-item-content"></div>
        </div>
        <div class="status-item-rech">
          RECHAZADO
          <div class="status-item-content"></div>
        </div>
      </div>
      <div>
        <div class="number-rollo">NUMERO DE CONTROL</div>
        <div class="number-rollo">##################</div>
      </div>
      <div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="box-4">
    <div class="box-4-content-left"></div>
    <div class=""></div>
  </div>
</div>
